<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
  </head>
  <body>
  <h2>serach by country</h2>
    
    <form action="" method="get">
        <input type="text" name="country">
        <button type="submit">search</button>
    </form>
    <br>
    <br>
    <h2>serach by category</h2>
    <form action="" method="get">
        <input type="text" name="category">
        <button type="submit">search</button>
    </form>
  
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {%for i in articles%}
                <div class="card rounded shadow-lg m-2" style="width: 18rem;">
                    <img class="card-img-top" src="{{i.urlToImage}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">{{i.author}}</p>
                        <p class="card-title">{{i.source.name}}</p>
                      <h5 class="card-title">{{i.title}}</h5>
                      <p class="card-text">{{i.description}}</p>
                      <small>date : {{i.publishedAt}}</small>
                      <a href="{{i.url}}" class="btn btn-success">see news</a>
                    </div>
                  </div>
                {%endfor%}
            </div>
            <div class="col-md-6">
                category
                <ul class="list-group">
                    <li class="list-group-item"><a class="btn btn-primary" href="{%url 'homepage'%}?category=health">health</a></li>
                    <li class="list-group-item"><a class="btn btn-primary" href="{%url 'homepage'%}?category=science">science</a></li>
                    <li class="list-group-item"><a class="btn btn-primary" href="{%url 'homepage'%}?category=entertainment">entertainment</a></li>
                    <li class="list-group-item"><a class="btn btn-primary" href="{%url 'homepage'%}?category=sports">sports</a></li>
                    <li class="list-group-item"><a class="btn btn-primary" href="{%url 'homepage'%}?category=business">business</a></li>



                </ul>
            </div>
        </div>
    </div>


   
  </body>
</html>
